<!DOCTYPE html>
<!-- Inside index.html, products.html, equipment.html, and blog.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrimarket - Blog</title>
    <!-- Add your CSS links and other meta tags as needed -->
</head>
<body>
    <header>
	<b><h1><a href="/">Agrimarket</a></h1></b>
	<b><a href="{{ url_for('main.index') }}">Home</a></b>
	<b><a href="{{ url_for('main.blog') }}">Blog</a></b>
        <b><a href="{{ url_for('main.view_cart') }}">Cart</a></b>
    </header>
    
    <section class="blog">
        <h2>Latest Blog Posts</h2>

        <article class="blog-post">
            <h3>Exploring Sustainable Farming Practices</h3>
            <p class="publication-date">Published on: November 15, 2023</p>
            <img src="images/sustainable-farming.jpg" alt="Sustainable Farming">
            <p>
                Sustainable farming is a holistic approach to agriculture that focuses on preserving the environment, promoting biodiversity, and ensuring long-term food security...
            </p>
            <a href="#" class="read-more-link">Read More</a>
        </article>

        <!-- Add more blog posts as needed -->

        <article class="blog-post">
            <h3>The Importance of Crop Rotation</h3>
            <p class="publication-date">Published on: November 20, 2023</p>
            <img src="images/crop-rotation.jpg" alt="Crop Rotation">
            <p>
                Crop rotation is a key practice in sustainable agriculture. It involves growing different types of crops in the same area in sequential seasons to improve soil health, reduce pests...
            </p>
            <a href="#" class="read-more-link">Read More</a>
        </article>

        <article class="blog-post">
            <h3>Boosting Livestock Productivity with Smart Feeding</h3>
            <p class="publication-date">Published on: November 25, 2023</p>
            <img src="images/smart-feeding.jpg" alt="Smart Feeding">
            <p>
                Smart feeding technologies have revolutionized livestock farming, offering precise nutrition, optimizing feeding schedules, and improving overall productivity. Learn how these innovations are transforming the industry...
            </p>
            <a href="#" class="read-more-link">Read More</a>
        </article>

        <!-- Add more blog posts as needed -->

    </section>

    <footer>
	<b><li><a href="{{ url_for('main.index') }}">Home</a></li></b>
	<b><li><a href="{{ url_for('main.blog') }}">Blog</a></li></b>
	<b><li><a href="{{ url_for('main.view_cart') }}">Cart</a></li></b>
        <p>Contact us at karanjastephenn@gmail.com</p>
    </footer>
</body>
</html>
