<!-- app/templates/cart.html -->
<!DOCTYPE html>
<!-- Inside index.html, products.html, equipment.html, and blog.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agrimarket - Farm Products</title>
	<!-- Add your CSS links and other meta tags as needed -->
</head>

<body>
	<header>
		<div class="logo">
			<!-- Header images here -->
			<img src="{{ url_for('static', filename='images/agrimoji.jpg') }}" alt="Agrimarket Logo">
			<img src="{{ url_for('static', filename='images/Company logo.jpg') }}" alt="Company Logo">
			<img src="{{ url_for('static', filename='images/agriculture.jpg') }}" alt="Agriculture">
			<img src="{{ url_for('static', filename='images/greenagrilogo.jpg') }}" alt="Green Agri Logo">
		</div>
		<b><h1><a href="/">Agrimarket</a></h1></b>
		<b><a href="{{ url_for('main.homepage') }}">Home</a></b>
		<b><li><a href="{{ url_for('main.products') }}">Products</a></li></b>
		<b><a href="{{ url_for('main.equipment') }}">Equipment</a></b>
		<b><a href="{{ url_for('main.blog') }}">Blog</a></b>
		<b><a href="{{ url_for('main.view_cart') }}">Cart</a></b>
		<!-- Add navigation links, search box, etc. -->

	</header>

	{% for cart_item in cart_contents %}
        <div>
            <h2>{{ cart_item.item.name }}</h2>
            <p>{{ cart_item.item.description }}</p>

            {% if cart_item.image_filename %}
                <img src="{{ url_for('static', filename=cart_item.image_filename) }}" alt="{{ cart_item.item.name }}">
            {% else %}
                <p>No image available</p>
            {% endif %}

            <p>Quantity: {{ cart_item.quantity }}</p>
        </div>
        <hr>
    {% endfor %}

    <a href="{{ url_for('main.products') }}">Continue Shopping</a>


	<footer>
		<b><li><a href="{{ url_for('main.homepage') }}">Home</a></li></b>
		<b><li><a href="{{ url_for('main.products') }}">Products</a></li></b>
		<b><li><a href="{{ url_for('main.equipment') }}">Equipment</a></li></b>
		<b><li><a href="{{ url_for('main.blog') }}">Blog</a></li></b>
		<b><li><a href="{{ url_for('main.view_cart') }}">Cart</a></li></b>
		<p>Contact us at info@agrimarket.com</p>
	</footer>
</body>
</html>
